div{
    padding: 2px;
    margin: 10px;        
}
 body{
    background-color: lightblue;
 }
.kit{
    text-align: left;
}    
#min{
    padding: 2px;
    margin: 10px;
}
p{
    padding: left;
}